.homepage__socialMediaItem {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 8px;
  border-radius: 100%;
}
