.homepage__avatar {
  border-radius: 4px;
  width: 250px;
  height: 250px;
  border: 3px solid white;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.homepage__avatar:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}