.navbar__item {
  padding: 16px;
  text-decoration: none;
  color: #49515d;
  font-size: 15px;
  opacity: 0.6;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.navbar__item::after {
  content: "";  
  width: 0;
  border-bottom: 3px solid #377e9a;
  margin: auto;
  margin-top: 4px;
  display: block;
  transition: width 0.3s ease-in-out;
}

.navbar__item--active,
.navbar__item:hover {
  opacity: 1;
}

.navbar__item--active::after,
.navbar__item:hover::after {
  width: 24px;
}

.navbar__item:last-of-type {
  padding-right: 0;
}